<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication Manager</title>
</head>
<body>
    <h1>Authentication Manager</h1>
    {% if id_token %}
        <p>You are logged in as {{userinfo['email']}}</p>
        <p>
            <form action="{{ url_for('logout', auth_option_id=auth_option_id) }}" method="get">
                <button type="submit">Logout</button>
            </form>
        </p>
    {% else %}
        {% for auth_option in auth_options %}
            <p>
                <form action="{{ url_for('login', auth_option_id=auth_option.id) }}" method="get">
                    <button type="submit">Log in with {{ auth_option.name }}</button>
                </form>
            </p>
        {% endfor %}
   {% endif %}
</body>
</html>